<div class="spotify__home-container row">
  <div class="spotify__home-container_side-bar col-2">
    <div class="spotify__home-container_side-bar-items">
      <img 
        src="/assets/Spotify_Logo_RGB_White.png" 
        alt="Spotify Light Logo"
        width="150" 
        class="m-3 text-left"
    />
    </div>

    <div class="spotify__home-container_side-bar-items">
        <a>Home</a>
    </div>

    <div class="spotify__home-container_side-bar-items">
        <a>Search</a>
    </div>

    <div class="spotify__home-container_side-bar-items">
        <a>Library</a>
    </div>

    <div class="spotify__home-container_side-bar-items">
        <a>Create Playlist</a>
    </div>
  </div>
  <div class="spotify__home-container_playlist-container col-10">
    <app-top-nav></app-top-nav>
    <div [style.paddingTop]="'0px'" class="mt-5 container">
        <app-songcard [title]="'Perfect By Ed Seeran'" [description]="'dahdfjkahsdjkfh sajfhkasjdhfkj asdjfhaskdhfjkas'" [playlist_thumbnail]="'https://static.independent.co.uk/s3fs-public/thumbnails/image/2014/12/05/18/Ed-Sheeran.jpg?quality=75&width=990&crop=3%3A2%2Csmart&auto=webp'" ></app-songcard>
    </div>
    
  </div>
  
</div>
