<div class="spotify__home-container row">
  <div class="spotify__home-container_side-bar col-2">
    <div class="spotify__home-container_side-bar-items">
      <img 
        src="/assets/Spotify_Logo_RGB_White.png" 
        alt="Spotify Light Logo"
        width="150" 
        class="m-3 text-left"
    />
    </div>

    <div class="spotify__home-container_side-bar-items">
        <a>Home</a>
    </div>

    <div class="spotify__home-container_side-bar-items">
        <a>Search</a>
    </div>

    <div class="spotify__home-container_side-bar-items">
        <a>Library</a>
    </div>

    <div class="spotify__home-container_side-bar-items">
        <a>Create Playlist</a>
    </div>
  </div>
  <div class="spotify__home-container_playlist-container col-10">
    <app-top-nav></app-top-nav>
  </div>
</div>
