<div class="spotify__home-container row">
  <div class="spotify__home-container_side-bar col-2">
    <div class="spotify__home-container_side-bar-items">
      <img 
        src="/assets/Spotify_Logo_RGB_White.png" 
        alt="Spotify Light Logo"
        width="150" 
        class="m-3 text-left"
    />
    </div>

    <div class="spotify__home-container_side-bar-items">
        <a routerLink="">Home</a>
    </div>

    <div class="spotify__home-container_side-bar-items">
        <a routerLink="search">Search</a>
    </div>

    <div class="spotify__home-container_side-bar-items">
        <a routerLink="playlist">Library</a>
    </div>

    <div class="spotify__home-container_side-bar-items">
        <a routerLink="playlist">Create Playlist</a>
    </div>
  </div>
  <div class="spotify__home-container_playlist-container col-10">
    <app-top-nav></app-top-nav>
    <div [style.paddingTop]="'0px'" class="mt-5 container">
        <app-songcard [title]="'Perfect By Ed Seeran'" [description]="'dahdfjkahsdjkfh sajfhkasjdhfkj asdjfhaskdhfjkas'" [playlist_thumbnail]="'assets/AAA.png'" ></app-songcard>
    </div>
    
  </div>
  
</div>
